.itineraryContainer {
    width: 100%;
    height: 95.5rem;
    padding: 0;
    margin: 0;
    position: relative;
}

.itineraryContainer .background {
    width: 100%;
    height: 100%;
    display: flex;
}

.itineraryContainer .background .color {
    width: 70%;
    height: 100%;
    background-color: #131313;
}

.itineraryContainer .background .img {
    width: 30%;
    height: 100%;
    background-image: url("../assets/Imagen-agenda.png");
    object-fit: cover;
}

.card-itinerary {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 87.75rem;
    padding: 5rem;
    gap: 2.5rem;
    justify-content: "space-between";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-box-shadow: 5px 5px 0px 1px #000000;
    box-shadow: 5px 5px 0px 1px #000000;
    border: 1px solid #131313;
    background-color: #fff;
}

.card-title {
    width: 198.4px;
    height: 45px;
    background-color: #e0ff00;
    border: 2px solid #131313;
    -webkit-box-shadow: 5px 5px 1px 1px #000000;
    box-shadow: 5px 5px 1px 1px #000000;
}

.card-title .text {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.container-days {
    display: grid;
    height: 25%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: "100%";
}

.container-days .container-day-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1;
}

.container-days .container-day-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/3;
}

.container-days .container-day-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    grid-row: 1;
}

.container-days .container-day-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2;
}

.container-days .container-day-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    grid-row: 2;
}

.containerDay {
    -webkit-box-shadow: 5px 5px 0px 1px #000000;
    box-shadow: 5px 5px 0px 1px #000000;
    border: 1px solid #131313;
    background-color: #fff;
    position: relative;
}

.containerDay .title {
    position: absolute;
    text-align: center;
    top: -1.2rem;
    left: -3rem;
    width: 12.752rem;
    height: 2.25rem;
    background-color: #131313;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #fff;
}

.containerDay .list {
    list-style-position: inside;
    margin: 1rem;
}

@media (max-width: 1345px) {
    .containerDay .title {
        left: -1rem;
    }
}

@media (max-width: 1227px) {
    .card-itinerary {
        width: 80%;
        height: 87.75rem;
    }
}

@media (max-width: 1054px) {
    .card-itinerary {
        height: 90%;
        width: 85%;
    }

    .container-days {
        height: 40%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.7fr 0.9fr 0.6fr;
    }

    .container-days .container-day-1 {
        grid-column: 1/2;
        grid-row: 1;
    }

    .container-days .container-day-2 {
        grid-column: 2/3;
        grid-row: 1;
    }

    .container-days .container-day-3 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .container-days .container-day-4 {
        grid-column: 1/2;
        grid-row: 3;
    }

    .container-days .container-day-5 {
        grid-column: 2/3;
        grid-row: 3;
    }

    .itineraryContainer {
        height: 110rem;
    }
}

@media (max-width: 731px) {
    .container-days {
        height: 40%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 4rem;
    }

    .container-days .container-day-1 {
        grid-column: 1;
        grid-row: 1;
    }

    .container-days .container-day-2 {
        grid-column: 1;
        grid-row: 2;
    }

    .container-days .container-day-3 {
        grid-column: 1;
        grid-row: 3;
    }

    .container-days .container-day-4 {
        grid-column: 1;
        grid-row: 4;
    }

    .container-days .container-day-5 {
        grid-column: 1;
        grid-row: 5;
    }

    .itineraryContainer {
        height: 140rem;
    }
}

@media (max-width: 668px) {
    .itineraryContainer {
        height: 150rem;
    }
}

@media (max-width: 591px) {
    .itineraryContainer {
        height: 160rem;
    }

    .card-itinerary {
        width: 100%;
    }
}

@media (max-width: 438px) {
    .itineraryContainer {
        height: 175rem;
    }
}

@media (max-width: 400px) {
    .itineraryContainer {
        height: 215rem;
    }

    .container-days {
        gap: 0;
    }
}