
:root {
  --color-black-coder: #131313;
  --color-link: #F2F2F2;
  --color-yellow: #E0FF00;
}


html {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* TODO:cambiar la fuente de la letra */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer a{
  text-decoration: none;
  color: var(--color-link);
}

footer .footer{
  width: 100%;
}

footer .text{
  color: white;
}

.logoCoderHouse{
  position: relative;
  left: -13px;
}

.networks label{
  color: var(--color-yellow);
}






